@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
center{
    font-size: 30px;
    margin-top: 10%;
}
</style>
<center >
    Your Book is requested successfully!! 
    <p>Browse for more <a asp-controller="Books" asp-action="AllBooksList"> books </a></p>
</center>